
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Fcseminars</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_fcseminars" >
	<tr>
		<th><f:translate key="tx_fcseminars_domain_model_fcseminars.steckbrief" /></th>
		<th><f:translate key="tx_fcseminars_domain_model_fcseminars.mehr" /></th>
		<th><f:translate key="tx_fcseminars_domain_model_fcseminars.zusatzfeld1" /></th>
		<th><f:translate key="tx_fcseminars_domain_model_fcseminars.zusatzfeld2" /></th>
		<th><f:translate key="tx_fcseminars_domain_model_fcseminars.zusatzfeld3" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fcseminarss}" as="fcseminars">
		<tr>
			<td><f:link.action action="show" arguments="{fcseminars : fcseminars}"> {fcseminars.steckbrief}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fcseminars : fcseminars}"> {fcseminars.mehr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fcseminars : fcseminars}"> {fcseminars.zusatzfeld1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fcseminars : fcseminars}"> {fcseminars.zusatzfeld2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fcseminars : fcseminars}"> {fcseminars.zusatzfeld3}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fcseminars : fcseminars}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fcseminars : fcseminars}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Fcseminars</f:link.action>
</f:section>
