
<table class="tx-fcseminars" >
	<tr>
		<td>
			<f:translate key="tx_fcseminars_domain_model_fcseminars.steckbrief" />
		</td>
		<td>
		{fcseminars.steckbrief}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fcseminars_domain_model_fcseminars.mehr" />
		</td>
		<td>
		{fcseminars.mehr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fcseminars_domain_model_fcseminars.zusatzfeld1" />
		</td>
		<td>
		{fcseminars.zusatzfeld1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fcseminars_domain_model_fcseminars.zusatzfeld2" />
		</td>
		<td>
		{fcseminars.zusatzfeld2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fcseminars_domain_model_fcseminars.zusatzfeld3" />
		</td>
		<td>
		{fcseminars.zusatzfeld3}
		</td>
	</tr>
</table>
